:root {
    --color-white: #fff;
    --color-dark1: #2d2d2d;
    --color-gray: #EAEAEA;
    --color-font: #414141;
    --color-hover: #b6b6b6;
    --color-dark: #000000;
    --color-green: #68944e;
    --color-gradient1: #203c1f;
    --color-gradient2: #64793a;
    --color-gradient3: #81c066;
    
}
/*Header*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-dark1);
}

.img_logo_header {
    width: 6em;
}

.header,
.navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    background-color: var(--color-gray);
    box-shadow: 1px 1px 4px var(--color-dark);
    height: 6em;
    justify-content: space-between;
    padding: 0 10%;
}

.navigation_header {
    gap: 3em;
}

.navigation_header a {
    text-decoration: none;
    color: var(--color-font);
    transition: 0.5s;
    font-weight: bold;
}

.navigation_header a:hover{
    background-color: var(--color-hover);
    padding: 10px;
    border-radius: 10px;
}

/*section1*/

.section1 {
    width: 100%;
    height: 30em;
    background: linear-gradient(90deg, var(--color-gradient1) 0%, var(--color-gradient2) 50%, var(--color-gradient3) 100%);
    display: flex;
}

.text_section1 {
    margin-left: 10em;
    margin-top: 5em;
    font-size: 2em;
    text-align: center;
    color: var(--color-dark1);
}

/*section2*/

.section2 {
    width: 100%;
    height: 20em;
    background-color: var(--color-hover);
    display: flex;
}

.text_section2 {
    width: 40em;
    margin-left: 5em;
    margin-top: 5em;
    font-size: 20px;
    text-align: left;
    color: var(--color-dark1);
}

/*section3*/

.section3 {
    width: 100%;
    height: 20em;
    background-color: var(--color-gradient1);
    display: flex;
}

.text_section3 {
    width: 40em;
    margin-left: 9em;
    margin-top: 5em;
    font-size: 20px;
    text-align: center;
    color: var(--color-gray);
}
